body {
    font-family: 'Old Standard TT','Times New Roman', Times, serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../assets/newspaper-bg.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.screen {
    display: none;
    background-color: rgb(239, 239, 239);
    border: 2px solid #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 25%;
    max-width: 800px;
    border-radius: 5px;
}

#start-screen {
    display: block;
    padding: 5%;
}

#game-screen, #end-screen {
    display: none;
    padding: 5%;
}

h1, h2 {
    font-family: 'Old Standard TT', 'serif';
    font-size: 28px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #222;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: #000;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button-clicked {
    background-color: #222;
    transform: scale(1.05);
    transition: background-color 0.2s, transform 0.2s;
}

#score {
    font-family: 'Old Standard TT', 'serif';
    font-size: 24px;
    color: #000;
    margin-top: 20px;
}

#final-score {
    font-size: 36px;
    margin: 10px 0;
}

#play-again-button {
    background-color: #000;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#play-again-button:hover {
    background-color: #222;
    transition: background-color 0.2s;
}